.col-6, .col-4 { padding: 0; }
.wraper { width: 100%; height: 600px;}
img { width: 100%;}
.small {
  height: calc((25vw * 2)/3);
  background-image: url('https://www.liveabout.com/thmb/YYAFVvWXsizqxYlgBE867LgPAdQ=/1878x1383/filters:no_upscale():max_bytes(150000):strip_icc()/shore-58b8a4613df78c353cd9c521.jpg');
  background-size: cover;
  background-position: center;
 }
 .big {
  height: calc((50vw * 2)/3);
  background-image: url('https://cdn.britannica.com/21/183421-131-2F9E715E/Flamingo.jpg');
  background-size: cover;
  background-position: center;
 }
body{
  overflow-x: hidden;
}
.yacht-show-info {
  border-top : 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 16px 0;
  & h5, h6, ul, p {
    opacity: .7;
  }
}
  // placeholder
.placeholder {
  border: 1px solid $light;
  background-color: black;
  background-size: 150px 90px;
  background-position: center;
  background-repeat: no-repeat;
}
