.photos {
  display: grid;
  // justify-items: stretch;
  grid-template-columns: 800px auto auto;
  grid-template-rows: 300px 300px;
  grid-auto-flow: column;
  // max-width: 100vw;
}
.photos img:first-child {
  grid-column: 1;
  grid-row: 1 / 3;
}
.photos img:not(:first-child) {
  // grid-column: 1;
  // width: 100%;
  width: 100%;
  height: 300px;
}
.yacht-show-info {
  border-top : 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 16px 0;
  & h5, h6, ul, p {
    opacity: .7;
  }
}
