<div class = "container">
  <div class = "row justify-content-center">
    <div class="col-12 col-sm-6 pt-5">
    <h1>Update your yacht info here</h1>

    <%= render 'form', yacht: @yacht %>
    <p class="text-center"> <%= link_to 'Back', yachts_path %></p>
  </div>
</div>
