.banner {
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner input {
  margin-top: 20px;
  opacity: .7;
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 1em;
}
.typed.scss {
  color: white;
  font: $main-h
}


