.btn-main {
  padding: 12px 28px;
  background-color: $main;
  border-radius: 50px;
  border: 0;
  color: $light;
}

.btn-secondary {
  margin: 0 0 0 8px;
  padding: 12px 28px;
  border-radius: 50px;
  border: 2px solid $light;
  color: $dark;
}

.btn-delete {
  color: rgba($dark, .5);
}

.search {
  flex-grow: 1;
}
.btn-add {
  border-radius: 50%;
  border: 0;
  background-color: $secondary;
  background: linear-gradient(135deg, $secondary 0%, $secondary 100%);

  color: $light;
  // line-height: 0;
  // padding: 16px;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  box-shadow: 0 4px 7px rgba(0,0,0,0.4);
  z-index: 99;
}
