.btn-main {
  padding: 12px 28px;
  background-color: $main;
  border-radius: 50px;
  border: 0;
  color: $light;

}

.btn-secondary {
  margin: 0 8px 0 8px;
  padding: 12px 28px;
  border-radius: 50px;
  border: 2px solid $light;
  color: $dark;
}

.btn-delete {
  margin: 0 4px 0 4px;
  padding: 6px 14px;
  border-radius: 50px;
  border: 2px solid $light;
  color: $dark;
}
